.loader {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 20% auto;
    background: -webkit-linear-gradient(left top, #4fd9f6 0%, #ff914d 100%);
    padding: 8px;
    animation: spin 2s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader>div {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background: #ffffff;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}