.button{
    border-radius: 10px; 
    font-size: 20px;
    font-weight: bold;  
}

.button-primary{
    background: #d3e6f0;
    color: #5c8599;
    border: #ffffff 3px solid;
    box-shadow: 0px 4px #f0f0f0;
    padding: 15px;   
}

.button-secundary{
    background: #a7cadb;
    border: #7aa7be 3px solid;
    color: #ffffff;
    padding: 5px 7px;  
}
