.label{
    font-weight: bold;
     color: #ffffff;
     border-radius: 7px;
     padding: 4px 8px;
     display: inline;
}

.label p{
    margin: 0;
    display: inline;
}

.label-green{
    background: #cae6ae;
}

.label-gray{
    background: #cccccc;
}